<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/"><img src="/images/icon.png" alt="icon" /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if(typeof data === 'undefined') { %>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <% } else { %>
      <li class="nav-item active mr-5">
        <b
          ><a class="nav-link" href="/organization/<%= data.organization_id %>"
            >My Organization</a
          ></b
        >
      </li>
      <li class="nav-item">
        <i
          ><p class="nav-link m-0" style="color: lightgray">
            <%= data.email %>
          </p></i
        >
      </li>
      <li class="nav-item">
        <form action="/logout" method="POST">
          <a class="nav-link" href="#">
            <button type="submit" style="all: unset"><b>Logout</b></button>
          </a>
        </form>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
